.auth-box {
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.auth-form {
    display: flex;
    flex-direction: column;
     gap:16px;
    width: 100%;
}

.auth-form .form-group {
    margin-bottom: 16px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.auth-form .form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-control {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
}

.form-control:focus {
    border-color: var(--outline);
    outline: 1px solid var(--outline);
}

.form-control[type="text"] {
    background-color: whitesmoke;
    border-radius: 8px;
}

.form-control[type="password"] {
    background-color: whitesmoke;
    border-radius: 8px;
}

.form-control.input-error {
    border-color: var(--error);
    outline: 1px solid var(--error);
}

.password-input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-input-container .form-control {
    padding-right: 50px; /* Espace pour le bouton de bascule */
}

.password-toggle-button {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #a0a0a0;
    display: flex;
    align-items: center;
}

.password-toggle-button:focus {
    outline: none;
}

.error {
    color: red;
    margin-top: 10px;
    font-size: 0.8rem;
}