.kit-button {
    border-radius: 16px;
    background: linear-gradient(270deg, #8743FF 0%, #4136F1 100%);
    box-shadow: 0px 15px 30px 0px rgba(20, 102, 204, 0.16);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    outline: none;
}

.kit-button:active {
    transform: scale(0.98);
    filter: brightness(0.9);
}

.kit-button.outlined {
    border-radius: 16px;
    background: transparent;
    border: 2px solid #4136F1;
    color: #4136F1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    outline: none;
}

.kit-button.outlined:active {
    transform: scale(0.98);
    filter: brightness(0.9);
}

.kit-button.disabled {
    border-radius: 16px;
    background: #E0E0E0;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    outline: none;
}

.kit-button.fullwidth {
    width: 100%;
}