.booking-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px 0;
    overflow-y: auto;
    max-height: calc(100vh - 150px);
    width: 100%;
}

.booking-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    background-color: #fff;
}

.refresh-list-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    box-shadow: 0 -4px 6px -6px rgba(0, 0, 0, 0.1);
}

.filter-list {
    width: 100%;
}

.booking-card-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}