.booking-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    overflow-y: auto;
    max-height: calc(100vh - 150px); /* Ajustez cette valeur en fonction de la hauteur de votre en-tête et autres éléments */
    width: 100%;
}

.booking-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    margin-bottom: 8px;
    background-color: #fff;
}