.tabs-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.list-tab {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}