.planning-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.calendar-box {
    /* border-radius: 8px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button.rdrDay {
    border-radius: 0;
}

.rdrDateDisplayWrapper {
    display: none;
}

@media screen and (min-width: 596px) {
    .planning-wrapper {
        flex-direction: row;
        align-items: flex-start;
    }
    .MuiSlider-valueLabel {
        font-size: 0.8em !important;
    }
}

.kiwi-dev {
    bottom: 8px;
    position: fixed;
    font-size: 0.8em;
    right: calc(50% - 50px);
    z-index: -9999;
}