.planning-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.calendar-box {
    /* border-radius: 8px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .date-range {
    border-radius: 8px;
} */

.rdrDateDisplayWrapper {
    background-color: transparent;
}

@media screen and (min-width: 596px) {
    .planning-wrapper {
        flex-direction: row;
        align-items: flex-start;
    }
    .MuiSlider-valueLabel {
        font-size: 0.8em !important;
    }
}