.default-layout {
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 100%;
    max-height: 100%;
    /* background-color: #f0f0f0; */
}